<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hty.appshare">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="海天鹰应用分享"
        android:theme="@android:style/Theme.Holo">
        <activity android:name="com.hty.appshare.MainActivity"
                  android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>